---
interface Props {
  number: number;
  name: string;
  km: number;
  photo: string;
  photoAlt: string;
  mapUrl: string;
  extraLink?: { text: string; url: string };
}

const { number, name, km, photo, photoAlt, mapUrl, extraLink } = Astro.props;
const kmFormatted = km.toLocaleString('cs-CZ');
---
<article class="stop">
  <div class="stop__content">
    <h4 class="stop__name">{name}</h4>
    <slot />
    <p class="stop__links">
      <a href={mapUrl}>Zobrazit na mapě</a>
      {extraLink && (
        <>
          <br />
          <a href={extraLink.url}>{extraLink.text}</a>
        </>
      )}
    </p>
    <span class="stop__km">{kmFormatted}&nbsp;km</span>
  </div>
  <div class="stop__marker">
    <span class="stop__number">{number}</span>
  </div>
  <div class="stop__visual">
    <img src={photo} alt={photoAlt} class="stop__photo" />
  </div>
</article>
